@import './catppuccin-mocha.css';

* {
  /* Remove default settings */
  border: none;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 0px;

  /* Set font and font size */
  font-size: 15px;
  font-family: "DejaVuSansMNerdFont Propo";
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @bg0;
  border: 1px solid @bg3;
  border-radius: 10px;
}

tooltip label {
  color: @fg;
  padding: 5px;
}

#workspaces {
  background-color: @bg2;
  padding: 5px 3px;
  border-radius: 10px;
  border: 2px solid @bg0;
  color: @fg;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: all 0.2s ease-in-out;
}

#workspaces button {
  padding: 0px 3px;
  margin: 0px 3px;
  color: @fg2;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active:not(.empty) {
  border-bottom: 2px solid @purple;
  transition: all 0.2s ease-in-out;
}

#workspaces button.empty {
  color: @bg0;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background-color: @purple;
  border-radius: 5px;
  color: @bg0;
  transition: all 0.2s ease-in-out;
}

#custom-powermenu,
#clock,
#pulseaudio,
#battery,
#network,
#bluetooth,
#battery {
  background-color: @bg2;
  border: 2px solid @bg0;
  padding: 0 10px 0 10px;
  margin: 0 5px 0 5px;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#custom-powermenu {
  color: @blue;
}

#clock {
  color: @light-blue;
}

#bluetooth {
  color: @blue;
}

#bluetooth.disabled {
  color: @red;
}

#pulseaudio {
  color: @yellow;
}

#pulseaudio.muted {
  color: @red;
}

#battery {
  color: @purple;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @orange;
}

#battery.critical:not(.charging) {
  color: @red;
}

#network {
  color: @pink;
}

#network.disabled {
  color: @red;
}
