* {
  font-size: 15px;
  font-family: "DejaVuSansMNerdFont";
}

window#waybar {
  all: unset;
}

.modules-left {
  padding: 7px;
  margin: 10 0 5 10;
  border-radius: 10px;
  background: rgba(30, 30, 46, 0.6);
  /* --background */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
  padding: 7px;
  margin: 10 0 5 0;
  border-radius: 10px;
  background: rgba(30, 30, 46, 0.6);
  /* --background */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
  padding: 7px;
  margin: 10 10 10 0;
  border-radius: 10px;
  background: rgba(30, 30, 46, 0.6);
  /* --background */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-left>*:not(:last-child) {
  margin-right: 15px;
}

.modules-right>*:not(:last-child) {
  margin-left: 15px;
}

tooltip {
  background: #1e1e2e;
  /* --background */
  color: #cba6f7;
  /* --mauve */
}

#clock:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#custom-powermenu:hover
#pulseaduio:hover {
  transition: all 0.3s ease;
  color: #cba6f7;
  /* --mauve */
}

#custom-notification {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: #cba6f7;
  /* --mauve */
}

#custom-powermenu {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: #cba6f7;
  /* --mauve */
}


#clock {
  padding: 0px 5px;
  color: #cba6f7;
  /* --mauve */
  transition: all 0.3s ease;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: rgba(180, 190, 254, 0.4);
  transition: all 0.2s ease;
}

#workspaces button:hover {
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

#workspaces button.active:not(.empty) {
  color: #b4befe; /* Lavender */
  border-bottom: 2px solid #cba6f7;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.occupied:not(.active) {
  color: rgba(180, 190, 254, 0.6);
}

#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#bluetooth {
  padding: 0px 5px;
  color: #cba6f7;
  /* --mauve */
}

#network {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: #cba6f7;
  /* --mauve */
}

#battery {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: #cba6f7;
  /* --mauve */
}

#battery.charging {
  color: #94e2d5
    /* --green */
}

#battery.warning:not(.charging) {
  color: #f9e2af;
  /* --yellow */
}

#battery.critical:not(.charging) {
  color: #f38ba8;
  /* --red */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: #cba6f7;
  /* --mauve */
}

#pulseaudio.muted {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: #f38ba8;
  /* --mauve */
}
